.pallet {
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.5 ease-in-out all;
	color: #fff;
	word-break: break-word;
}

.pallet:hover {
	// we use !important to override  inline style specificity
	background-color: var(--c-a-500) !important;
}

// 1200px
@media (max-width: 75em) {
}

// 720px
@media (max-width: 45em) {
	.pallet {
		font-size: 1rem;
	}
}
